body{
    text-align: center;
    margin:0;
    padding-top: 800px;
}
.profile{
    width:180px;
    border-radius: 50%;
    margin-bottom: 50px;
}
#Tim{
width: 100%;
height: 800px;
position: absolute;
right: 0;
left: 0;
top: 0;
bottom: 0;
z-index: 9;
}
.menu{
list-style: none;
position: absolute;
z-index: 10;
top: 10px;
right: 30px;
cursor: pointer;
}
.links{
float: left;
font-size: 20px;
padding-left: 9px;
padding-right: 9px;
padding-top: 5px;
padding-bottom: 5px;
}
.links:hover{
background-color: crimson;
}
